body{
    font-family: 'Raleway', sans-serif;
    --color1: #F1A46C;
    --color2: #6DE7F2;
    --color3: #d0f7fb;
    --color4: #f6c5a2;
    --bg1: #fae2d1;
    --bg2: #f0f8ff;
    background-color: var(--bg2);
    color: #000000d3;
}

.top{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    color: rgb(8, 8, 8);
}


#biscuit {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    filter: drop-shadow(0px 0px 6px white);
    user-select: none;
}

#biscuit:active, .shopBtn:active{
    transform: scale(0.8);
}

.point{
    font-size: 2em;
    color: #fff;
    position: absolute;
    animation: appearAndHide 0.5s ease-in-out;
    animation-fill-mode: forwards;
    user-select: none;
}

#shopsContainer{
    margin: 20px;
    flex-wrap: wrap;
}

.biscuitCountBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    background-color: var(--color3);
    height: 2em;
    font-size: 1.2em;
    width: 5em;
}
.biscuitCountBox img{
    height: 1.2em;
}


.shopContent, .shopBtn, #shopsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.shopContent {
    flex-basis: 300px;
    justify-content: flex-start;
}
.shopContent > div{
    margin: 5px;
}

.shopBtn{
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    flex-basis: 100px;
    flex-shrink: 0;
    background-color: var(--color2);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: var(--color3);
    font-size: 1.1em;
    transition: transform 0.2s ease-in-out;
}

.shopBtn > * {
    margin: 5px;
}
.shopBtn .details{
    max-width: 150px;
    display: flex;
    justify-content: center;
}

.disc{
    font-weight: bold;
}

.details > div > span{
    font-size: 0.9em;
    font-weight: bold;
}

.details:nth-child(2) {
    max-width: 200px;
}

.disabled{
    opacity: 0.7;
    cursor: not-allowed;
}

.disabled img{
    filter: grayscale(1);
}

.icon{
    width: 50px;
    height: 50px;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 0 2px white);
}
img{
    max-width: 100%;
    max-height: 100%;
}

/* Settings */

.modal{
    top: 25px;
    right: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    z-index: 9;
}


.settingsBox{
    margin: 5px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid var(--color2);
    transition: all 0.4s ease-in-out;
    background-color: var(--color3);
    
}

.setting{
    margin: 5px auto;
}
.setting *{
    margin: 4px auto;
}

#hideShowSettingBtn{
    position: absolute;
    right: 5px;
    top: 5px;
}

.hidden {
    opacity: 0;
}

/* Buttons, Inputs */

button{
    border: 1px solid var(--color4);
    outline: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    background-color: var(--color1);
}

button:hover{
    filter: brightness(0.9);
}

input[type="text"] {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid var(--color2);
}

input:focus{
    box-shadow: inset 0 0 2px var(--color2);
}

#attribution{
    position: fixed;
    right: 5px;
    bottom: 5px;
    text-decoration: none;
    font-size: 0.6em;
}
#attribution a{
    text-decoration: none;
}

@keyframes appearAndHide{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    20%{
        transform: scale(1) translateY(-30px);
        opacity: 1;
    }
    100%{
        transform: scale(0) translateY(-30px);
        opacity: 0;
    }
}
