#biscuit {
    display: block;
    width: 200px;
    height: 200px;
    background-color: brown;
    cursor: pointer;
}

#shopsContainer{
    width: 200px;
    margin-left: auto;
}

.shopContent, .shopBtn{
    display: flex;
    align-items: center;
    
}

.shopContent {
    width: 150px;
    justify-content: space-around;
}

.shopBtn{
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.shopBtn > * {
    margin: 5px;
}

.icon{
    width: 50px;
    height: 50px;
    background: burlywood;
}